<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>チームラボ課題</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8"/>
</head>
<body>
  <p>Hello, チームラボ!</p>
  <p>検索時間：<span th:text="${searchtime}"></span> ミリ秒</p>
  <p>検索結果数：<span th:text="${result}"></span> 件</p>
  <p>結果一覧</p>

  <div class="span12">
  <table id="myTableId" dt:table="true">
  <thead>
      <tr>
          <th>ユーザId</th>
          <th>ユーザ名</th>
          <th>ページID</th>
          <th>ページタイトル</th>
          <th>閲覧数</th>
      </tr>
  </thead>
  <tbody>
      <tr th:each="userpage : ${userpages}">
          <td th:text="${userpage.userId}"></td>
          <td th:text="${userpage.userName}"></td>
          <td th:text="${userpage.pageId}"></td>
          <td th:text="${userpage.pageTitle}"></td>
          <td th:text="${userpage.viewCount}"></td>
      </tr>
  </tbody>
</table>
</div>
</body>
</html>
